<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% chp_num = 1 %>
    <% @contents.each do |chapter| %>
      <li class="pure-menu-item">
        <a href="/chapters/<%= chp_num %>" class="pure-menu-link"><%= chapter %>
        </a>
        <% chp_num += 1 %>
      </li>
    <% end %>
  </ul>
</div>